body {
  background: #EAEAEA;
}

#content {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.toggle_button {
  position: relative;
  vertical-align: middle;
  height: 100%;
}

.label {
  position: relative;
  top: 20px;
  font-family: 'DINRegular';
  font-size: 64px;
}

#save {
  position: absolute;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 10%;
  text-align:center;
}

.color-table {
  font-family: 'DINLight';
  font-size: 3vh;
  font-weight: bold;
  position: fixed;
  right: 0;
  width: 15vw ;
  height: 100%;
}

@media only screen and (min-width: 1780px) {
  .color-table {
    width: 24vw;
  }
}
